<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.frogobox.recycler"
    android:targetSandboxVersion="1"
    tools:targetApi="o">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="n">
        <activity android:name=".sample.kotlin.noadapter.progress.KotlinProgressActivity" />
        <activity android:name=".sample.kotlin.usingadapter.nested.KotlinNestedActivity" />
        <activity android:name=".sample.java.noadapter.multiview.JavaNoAdapterMultiViewActivity" />
        <activity android:name=".sample.java.noadapter.simple.JavaNoAdapterActivity" />
        <activity android:name=".sample.java.usingadapter.JavaSampleActivity" />
        <activity android:name=".sample.kotlin.noadapter.shimmer.KotlinShimmerActivity" />
        <activity android:name=".sample.kotlin.noadapter.multiview.KotlinNoAdapterMultiVewActivity" />
        <activity android:name=".sample.kotlin.noadapter.simple.KotlinNoAdapterActivity" />
        <activity android:name=".sample.kotlin.usingadapter.simple.KotlinSampleActivity" />
        <activity android:name=".sample.kotlin.usingadapter.nested.KotlinSimpleNestedActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>